:root {
	--font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
		helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
}
